$carousel-width: 100vw;
$carousel-height: 60vh;
$carousel-padding: 2rem;
$carousel-gap: 4vw;
$button-font-size: 2rem;
$button-pos: 80%;
$side-gap: 5vw;
$slide-text-width: 50%;
$nav-bottom-pos: 5%;
$nav-button-size: 1.5rem;
$nav-button-outline: 0.25rem;
$next-button-size: 4rem;
$next-font-size: 2.5rem;
$main-color: #d64200;
$second-color: #395555;
$text-color: #fff;
$main-font: "Roboto", sans-sarif;
$button-color: black;
